services:
  nats:
    image: nats
    ports:
      - 4222:4222
  etcd:
    image: bitnami/etcd
    environment:
      - ALLOW_NONE_AUTHENTICATION=yes
    ports:
      - 2379:2379
  redis:
    image: redis
    ports:
      - 6379:6379
