name: Tests

on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main

jobs:
  deps:
    name: Dependencies
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.22'
    - name: Download dependencies
      run: go mod download
  unit-test:
    name: Unit Test
    runs-on: ubuntu-latest
    needs: deps
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.22'
    - name: Setup dependencies
      env:
        GO111MODULE: auto
      run: make setup-ci
    - name: Run tests
      run: make test-coverage
    - name: Send coverage
      env:
        COVERALLS_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: ~/go/bin/goveralls -coverprofile=coverprofile.out -service=github
  e2e-test-nats:
    name: Nats Test End to End
    runs-on: ubuntu-latest
    needs: deps
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.22'
    - name: Run tests
      run: make e2e-test-nats
  e2e-test-grpc:
    name: GRPC Test End to End
    runs-on: ubuntu-latest
    needs: deps
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.22'
    - name: Run tests
      run: make e2e-test-grpc
